.body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 25vh;
  background: #fff; 
 padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
/* Classe container vai ser adicionada à pagina de tasks ao lado do menu lateral*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.title{
    width: 100%;
    border-bottom: 5px solid #F3F3F3;
}
.subtitle {
    
    width: 100%;
    height: 20%;
    border-left: 2px solid red;
    padding: 0 0 0 10%;
}

.secondtitle{
font-weight: bolder;
color: #D2D2D2;
display: flex;

}
.footer{
  width: 100%;
  display: flex;
  color: #5C5C5C;
  font-weight: bold;

}
.footer span{
  padding: 1% 5px;
}